* {
    box-sizing: border-box;
}

main {
    display: flex;
}

.btnbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btnbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
